<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">
    <div id="divFooter" class="footerArea">
        <div class="container">

            <div class="row-fluid">
                <div class="col-lg-8">
                    <p class="copyright">
                        Copyright © 2018 | Powered by Jowl
                    </p>

                    <p class="social_bookmarks">
                        <a href="#"><i class="social foundicon-facebook"></i> Facebook</a>
                        <a href=""><i class="social foundicon-twitter"></i> Twitter</a>
                        <a href="#"><i class="social foundicon-pinterest"></i> Pinterest</a>
                        <a href="#"><i class="social foundicon-rss"></i> Rss</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

